<header>
  <h1 tabindex="0" class="text-center">Account</h1>
</header>

<main class="mx-5">
  <img src="{{image}}" alt="Profile Picture" width="128" height="128" />
  <ul class="list-group my-3">
    {{! Plaintext password not available }}
    <li class="list-group-item">Username: {{username}}</li>
    <li class="list-group-item">Email Address: {{email}}</li>
    {{! MAL display as linked with username or unlinked }}
    <li class="list-group-item">MyAnimeList: {{malUsername}}</li>
    <li class="list-group-item">Friend count: {{friendCount}}</li>
  </ul>
  {{! TODO: button to hide? }}
  <h3 class="my-2" tabindex="0">Friend List:</h3>
  <ul class="list-group">
    {{#each friendList}}
      <li class="list-group-item">{{this}}</li>
    {{/each}}
  </ul>

  {{! Reset Account }}
  <h3 class="my-2" tabindex="0">Edit Account Info:</h3>
  {{! Middleware changes this form to PUT }}
  <form
    action="/accounts/reset"
    method="post"
    id="resetForm"
    class="flex-center flex-column"
  >
    {{! Trigger rewriteUnsupportedBrowserMethods middleware }}
    <input type="hidden" name="_method" value="PUT" />

    <div class="flex-center flex-column py-2">
      <label for="usernameInput">Username</label>
      <input
        name="usernameInput"
        id="usernameInput"
        placeholder="{{username}}"
        type="text"
      />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="emailAddressInput">Email Address</label>
      <input
        name="emailAddressInput"
        id="emailAddressInput"
        placeholder="{{email}}"
        type="email"
      />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="passwordInput">Password</label>
      <input name="passwordInput" id="passwordInput" type="password" />
    </div>

    {{! TODO: look at after pfp implementation }}
    <div class="flex-center flex-column py-2">
      <label for="pfpInput">Profile Picture</label>
      <input name="pfpInput" id="pfpInput" type="text" />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="submitResetInput" hidden>Update Account</label>
      <button
        name="submitResetInput"
        id="submitResetInput"
        class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
        type="submit"
      >
        Update Account
      </button>
    </div>
  </form>

  {{! Error div }}
  <div id="errorList" class="py-3">
  </div>

  {{! Link MAL if not linked }}
  {{#unless hasLinked}}
    <h3 tabindex="0">Link Your MyAnimeList Account:</h3>
    <form
      action="/accounts/mal/link"
      method="post"
      id="malForm"
      class="flex-center flex-column"
    >
      {{! Session provides the email }}
      <div class="flex-center flex-column py-2">
        <label for="malUsernameInput">MyAnimeList Username</label>
        <input name="malUsernameInput" id="malUsernameInput" type="text" />
      </div>

      <div class="flex-center flex-column py-2">
        <label for="submitMalInput">Link MyAnimeList</label>
        <button
          name="submitMalInput"
          id="submitMalInput"
          class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
          type="submit"
        >
          Link MyAnimeList
        </button>
      </div>
    </form>
  {{/unless}}

  {{! Unlink MAL }}
  {{#if hasLinked}}
    <h3 tabindex="0">Unlink Your MyAnimeList Account:</h3>
    <form
      action="/accounts/mal/unlink"
      method="post"
      id="unlinkMal"
      class="flex-center flex-column"
    >
      <label for="unlinkMalButton" hidden>Unlink Your MyAnimeList Account</label>
      <button
        name="unlinkMalButton"
        id="unlinkMalButton"
        class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
        type="submit"
      >
        Unlink Your MyAnimeList Account
      </button>
    </form>
  {{/if}}

  {{! History of recommendation lists sorted by generated date (reverse inserted order) }}
  <button
    name="toggleRecHistory"
    id="toggleRecHistory"
    class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2 mx-2"
  >
    Toggle Recommendation History
  </button>
  <ul id="rec-list">
    {{#each recList}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</main>

<script defer src="/public/js/accounts.js"></script>