<header>
  <h1 tabindex="0" class="text-center">Account</h1>
</header>

<main class="mx-5">
  <div class="flex-center flex-column">
    <img
      src="{{image}}"
      alt="Profile Picture"
      width="64"
      height="64"
      class="rounded-circle"
      tabindex="0"
    />
  </div>

  <ul class="list-group my-3">
    {{! Plaintext password not available }}
    <li class="list-group-item" tabindex="0">Username: {{username}}</li>
    <li class="list-group-item" tabindex="0">Email Address:
      {{emailAddress}}</li>
    {{! MAL display as linked with username or unlinked }}
    <li class="list-group-item" tabindex="0">MyAnimeList Username:
      {{malUsername}}</li>
  </ul>

  <div class="flex-center my-4">
    <a
      href="/accounts/friends"
      class="primary-bg-color primary-text-color rounded-pill no-underline px-5 py-2 border-0"
    >View Your Friend List</a>
  </div>

  {{! Reset Account }}
  <div class="flex-center flex-column">
    <h3 class="my-2" tabindex="0">Edit Account Info:</h3>
  </div>
  {{! Middleware changes this form to PATCH }}
  <form
    action="/accounts/reset"
    method="post"
    id="resetForm"
    class="flex-center flex-column"
  >
    {{! Trigger rewriteUnsupportedBrowserMethods middleware }}
    <input type="hidden" name="_method" value="PATCH" />

    <div class="flex-center flex-column py-2">
      <label for="usernameInput">Username</label>
      <input name="usernameInput" id="usernameInput" type="text" />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="emailAddressInput">Email Address</label>
      <input name="emailAddressInput" id="emailAddressInput" type="email" />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="passwordInput">Password</label>
      <input name="passwordInput" id="passwordInput" type="password" />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="pfpIdInput">Profile Picture (Integer Between 1-5)</label>
      <input name="pfpIdInput" id="pfpIdInput" type="text" />
    </div>

    <div class="flex-center flex-column py-2">
      <label for="submitResetInput" class="hiddenLabel">Update Account</label>
      <button
        name="submitResetInput"
        id="submitResetInput"
        class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
        type="submit"
      >
        Update Account
      </button>
    </div>
  </form>

  {{! Error div }}
  <div id="errorList" class="py-2">
  </div>

  {{! Link MAL if not linked }}
  {{#unless hasLinked}}
    <h3 tabindex="0">Link Your MyAnimeList Account:</h3>
    <form
      action="/accounts/mal/link"
      method="post"
      id="malForm"
      class="flex-center flex-column"
    >
      {{! Session provides the email }}
      <div class="flex-center flex-column py-2">
        <label for="malUsernameInput">MyAnimeList Username</label>
        <input name="malUsernameInput" id="malUsernameInput" type="text" />
      </div>

      <div class="flex-center flex-column py-2">
        <label for="submitMalInput" class="hiddenLabel">Link MyAnimeList</label>
        <button
          name="submitMalInput"
          id="submitMalInput"
          class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
          type="submit"
        >
          Link MyAnimeList
        </button>
      </div>
    </form>
  {{/unless}}

  {{! Unlink MAL }}
  {{#if hasLinked}}
    <div class="flex-center flex-column">
      <h3 tabindex="0">Unlink Your MyAnimeList Account:</h3>
    </div>
    <form
      action="/accounts/mal/unlink"
      method="post"
      id="unlinkMal"
      class="flex-center flex-column my-3"
    >
      <label for="unlinkMalButton" class="hiddenLabel">Unlink Your MyAnimeList
        Account</label>
      <button
        name="unlinkMalButton"
        id="unlinkMalButton"
        class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
        type="submit"
      >
        Unlink Your MyAnimeList Account
      </button>
    </form>
  {{/if}}

  {{! History of recommendation lists sorted by generated date (reverse inserted order) }}
  <div class="flex-center flex-column">
    <label for="toggleRecHistory" class="hiddenLabel">Toggle Recommendation
      History</label>
    <button
      name="toggleRecHistory"
      id="toggleRecHistory"
      class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2 my-3"
    >
      Toggle Recommendation History
    </button>
  </div>

  <div id="recHistory" class="flex-center flex-column max-width-history hidden">
    {{#unless recommendations}}
      <p class="fw-bold text-center" tabindex="0">No Recommendations Yet</p>
    {{/unless}}

    {{#each recommendations}}
      {{! Increment is a helper defined in app.js }}
      <div class="pt-2">
        <p class="fw-bold text-center" tabindex="0">Recommendation List
          {{increment @index}}</p>
          {{#if (eq this.rating 0)}}
          <p class="text-center">Rating: N/A</p>
          {{else}}
          <p class="text-center">Rating: {{this.rating}}/5</p>
          {{/if}}
        <ul>
          {{#each this.recommendation}}
            <li tabindex="0">{{this.title}} (Frequency: {{this.frequency}})</li>
          {{/each}}
        </ul>
        <a class="regular flex-center mb-3" href="/recommendations/{{this._id}}">Go to Recommendation List {{increment @index}}</a>
      </div>
    {{/each}}
  </div>
</main>

<script type="module" src="/public/js/accounts.js"></script>