<header>
  <h1 tabindex="0">Main</h1>
</header>

<main>
  <h2 class="text-center" tabindex="0">How To Use</h2>
  <p class="max-width-700 pb-5" tabindex="0">
    To use the recommendation feature, type in a list of your watched anime
    (using their MAL ID) separated by commas! Alternatively, if you're logged
    in, you can link your MyAnimeList profile to get quick recommendations based
    on your MAL anime list! Note: If your list is too long, recommendations make
    take a while to load. If you're logged in, recommendations also prioritize
    unique recommendations, meaning you won't see anime recommended that you've
    been recommended before!
  </p>
  <div class="flex-center pb-5">
    <form method="POST" id="manual-form">
      <label for="animeInput">Enter Anime:</label>
      <input type="text" name="animeInput" id="animeInput" />
      <label class="hiddenLabel" for="manualSubmit">Submit</label>
      <button
        type="submit"
        id="manualSubmit"
        class="primary-bg-color primary-text-color rounded-pill no-underline px-5 py-2"
      >Submit</button>
    </form>
  </div>
  <div class="text-center mb-3" id="errorContainer"></div>
  <div class="flex-center pb-5">
    {{#if MalLinked}}
      <form
        action="/main/recommendations"
        method="post"
        id="malRecommend"
        class="flex-center flex-column my-3"
      >
        <label for="malRecSubmit" hidden>Search using your MyAnimeList
          recommendations!</label>
        <button
          name="malRecSubmit"
          id="malRecSubmit"
          class="primary-bg-color primary-text-color rounded-pill border-0 px-5 py-2"
          type="submit"
        >
          Search using your MyAnimeList recommendations!
        </button>
      </form>
    {{else}}
      {{#if AccountLoggedIn}}
        <a
          href={{linkedRoute}}
          class="primary-bg-color primary-text-color rounded-pill no-underline px-5 py-2"
        >{{linkMessage}}</a>
      {{else}}
        <a
          href={{linkedRoute}}
          class="primary-bg-color primary-text-color rounded-pill no-underline px-5 py-2"
        >{{linkMessage}}</a>
      {{/if}}
    {{/if}}
  </div>
</main>
<script src="/public/js/manList.js" type="module"></script>