<header>
  <h1 tabindex="0" class="text-center">Recommendation List</h1>
  <a tabindex="0" class="header" href="/main">Go back to main page!</a>
</header>

<main class="mx-5">
  <section>
    <div class="flex-center">
      <h2 class="text-center me-2" tabindex="0">Author</h2>
      {{#if showFriendButton}}
      <form
        action="/accounts/friend/:username"
        method="post"
        id="addFriendForm"
      >
        <label for="addFriendIconButton" class="hiddenLabel">Add Friend</label>
          <button
            type="submit"
            title="addFriendIconButton"
            id="addFriendIconButton"
            class="fa-solid fa-user-group rounded-pill border-0 p-3"
          >
          </button>
      </form>
      {{/if}}
    </div>
    <div class="flex-center flex-column">
      <p class="text-light-bold me-2" tabindex="0">{{authorName}}</p>
      <img
        src="{{image}}"
        alt="Profile Picture"
        width="64"
        height="64"
        class="rounded-circle"
        tabindex="0"
      />
    </div>
  </section>
  <section class="flex-center flex-column">
    <h2 class="text-center me-2" tabindex="0">Recommended</h2>

    <div class="star-wrapper">
      {{#if isAuthor}}
        <form
          action="/recommendations/review/:recId"
          method="post"
          id="addReviewForm"
        >
          <label for="star1" class="hiddenLabel">Star 1</label>
          <label for="star2" class="hiddenLabel">Star 2</label>
          <label for="star3" class="hiddenLabel">Star 3</label>
          <label for="star4" class="hiddenLabel">Star 4</label>
          <label for="star5" class="hiddenLabel">Star 5</label>
          <button
            type="submit"
            title="1 Star Rating"
            class="fa-regular fa-star text-gold background-transparent border-0"
            value="1"
            id="star1"
          ></button>

          <button
            type="submit"
            title="2 Star Rating"
            class="fa-regular fa-star text-gold background-transparent border-0"
            value="2"
            id="star2"
          ></button>
          <button
            type="submit"
            title="3 Star Rating"
            class="fa-regular fa-star text-gold background-transparent border-0"
            value="3"
            id="star3"
          ></button>
          <button
            type="submit"
            title="4 Star Rating"
            class="fa-regular fa-star text-gold background-transparent border-0"
            value="4"
            id="star4"
          ></button>
          <button
            type="submit"
            title="5 Star Rating"
            class="fa-regular fa-star text-gold background-transparent border-0"
            value="5"
            id="star5"
          ></button>

        </form>
      {{else}}
        <div class="star-container">
          <span
            title="1 Star Rating"
            class="fa-regular fa-star text-gold"
            id="star1"
          >
          </span>
          <span
            title="2 Star Rating"
            class="fa-regular fa-star text-gold"
            id="star2"
          ></span>
          <span
            title="3 Star Rating"
            class="fa-regular fa-star text-gold"
            id="star3"
          ></span>
          <span
            title="4 Star Rating"
            class="fa-regular fa-star text-gold"
            id="star4"
          ></span>
          <span
            title="5 Star Rating"
            class="fa-regular fa-star text-gold"
            id="star5"
          ></span>
        </div>
      {{/if}}
    </div>

    <ol>
      {{#each recommendations}}
        <li><a
            tabindex="0"
            class="regular"
            href="https://myanimelist.net/anime/{{this.id}}"
          >{{this.title}}</a></li>
        <!-- <li><p tabindex="0">{{this.title}}</p></li> -->
      {{/each}}
    </ol>
  </section>
</main>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script>
  const handlebars = { IS_AUTHOR: '{{isAuthor}}', AUTHOR_NAME: '{{authorName}}',
  REC_ID: '{{recId}}', REVIEW_RATING: '{{reviewRating}}', FRIEND_FORM: '{{showFriendButton}}' }
  console.log(handlebars)
</script>
<script src="/public/js/recList.js"></script>